.header-menu {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 60px;

    &-title {
      display: flex;
      align-items: flex-end;
      padding-left: 25px;
      font-size: 1.5em;
    }
  }

&-weather{
  width: 100%;
  display: flex;
  &__main{
    width: 50%;
    padding: 10px 40px;
  }
  &__detailed{
    width: 50%;
    padding: 10px 40px;
  }
}

}
