@import "src/assets/scss/utils/vars";

.header-menu {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__top {
    margin-bottom: 20px;
    display: grid;
    font-family: $secondary-font;
    color: $secondary-font-color;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    width: 100%;
    height: 60px;

    @media screen and (max-width: $tableWidth){
      grid-template-columns: repeat(2,1fr);
    }

    &-title {
      display: flex;
      align-items: flex-end;
      @media screen and (max-width: $tableWidth){
        align-items: center;
      }
      font-size: 1.5rem;
    }
  }

&-weather{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 100px;
  grid-row-gap: 30px;

  @media screen and (max-width: $tableWidth){
    grid-template-columns: 1fr;
  }
}

}
