.city-card{
  grid-template-areas:
          "city-card-header"
          "city-card-data";
  grid-template-rows: 20% 1fr;

  &__header{
    grid-area: city-card-header;
    padding-bottom: 10px;
  }

  &__data{
    grid-area: city-card-data;
  }
}
