@import "src/assets/scss/utils/vars";

.add-city{
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: $smTableWidth) {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  &__header{
    font-size: 1.5rem;
    font-family: $secondary-font;
    color: $secondary-font-color;
  }

  &__input{
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;

    @media screen and (max-width: $tableWidth) {
      width: 100%;
    }

    @media screen and (max-width: $smTableWidth) {
      justify-content: start;
    }

    form{
      display: flex;
      justify-content: flex-end;
      width: 300px;

      @media screen and (max-width: $tableWidth) {
        width: 350px;
      }

      @media screen and (max-width: $smTableWidth) {
        width: 100%;
      }

      input {
        background: #DCDFE6;
        padding: 10px;
        width: 200px;
        height: 40px;
        margin-right: 10px;
        flex-grow: 2;
      }
      input::placeholder{
        font-size: 0.9rem;
      }
      button{
        font-size: 1.5rem;
      }
    }


  }
}
