@import "src/assets/scss/utils/vars";

.add-city{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  height: 100%;

  @media screen and (max-width: $tableWidth) {
    grid-template-columns: 1fr;
  }

  &__header{
    grid-column: 1 / 1;
    font-size: 1.5em;
    font-family: $secondary-font;
    color: $secondary-font-color;
  }

  &__input{
    grid-column: 3 / 3 ;
    display: flex;
    justify-content: flex-end;

    @media screen and (max-width: $tableWidth) {
      grid-column: 1 / 1;
    }

    input {
      background: #DCDFE6;
      padding: 10px;
      width: 200px;
      height: 40px;
      margin-right: 10px;
      flex-grow: 2;
    }
    input::placeholder{
      font-size: 0.7em;
    }
    button{
      background: $primary-darker-color;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      font-size: 1.5em;
    }
  }
}
