@import "src/assets/scss/utils/vars";
@import "src/assets/scss/utils/mixins";

.city-card-header{
  display: grid;
  grid-template-areas: "header header degree icon . close";
  grid-column-gap: 10px;
  grid-template-columns: repeat(6,minmax(20px, 1fr));

  @media screen and (max-width: $phoneWidth){
    grid-template-areas: "header header degree icon close close";
  }

  &__header{
    display: flex;
    align-items: center;
    grid-area: header;
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__degree{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: degree;
    font-size: 1.5rem;
  }

  &__icon{
    grid-area: icon;
    display: flex;
    justify-content: center;
    align-items: center;
    @include size(40px);

  }

  &__close{
    grid-area: close;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
