@import "src/assets/scss/utils/vars";

.city-card-header{
  display: grid;
  grid-template-areas: "header header degree icon . close";
  grid-column-gap: 10px;
  grid-template-columns: repeat(6,minmax(20px, 1fr));

  &__header{
    display: flex;
    align-items: center;
    grid-area: header;
    font-size: 1.5rem;
  }

  &__degree{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: degree;
    font-size: 1.5rem;
  }

  &__icon{
    grid-area: icon;
    display: flex;
    justify-content: center;
    align-items: center;
    &-stub{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border: solid $neutral-placeholder;
      font-size: 0.7rem;
    }
  }

  &__close{
    grid-area: close;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
