@import 'src/assets/scss/utils/vars';

.weather-main{
  width: 100%;
  display: grid;
  grid-template-areas:
              "city city"
              "icon degree";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 40% 1fr;


  &__city{
    grid-area: city;
    font-size: 2rem;
    h2{
      font-weight: bold;
    }
  }

  &__icon{
    grid-area: icon;
    height: 200px;
    width: 200px;

    @media screen and (max-width: $smDesktopWidth){
      align-items: center;
      height: 150px;
      width: 150px;
    }

    @media screen and (max-width: $phoneWidth){
      align-items: center;
      height: 110px;
      width: 110px;
    }

  }

  &__degree{
    grid-area: degree;
    text-align: end;
    font-size: 6rem;
  }
}
